<h1>ユーザー一覧</h1>
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>勤務場所</th>
        <th>プロフィール更新日</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr >
          <td><%= link_to user.name, user %></td>
          <td><%= user.location %></td>
          <td style='<%= "color: red" if user.updated_at.day != Date.today.day %>'><%= user.updated_at.strftime("%Y-%m-%d")  %>&nbsp;&nbsp;&nbsp;<%= "※" if user.updated_at.day != Date.today.day %></td>
          <td><%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>