        <%= form_for(user) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
            <%= f.label :name, '名前' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :location, '場所名' %>
            <%= f.text_field :location, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :courses,'受講中の講座' %><br />
            <%= collection_check_boxes(:user, :course_ids, Course.all, :id, :name) do |b| %>
              <%= b.label { b.check_box + b.text } %>
            <% end %>
          </div>
          <br />
          <br />
          <div class="form-group">
           <%= f.label :password, '現在のパスワード(変更を反映するには現在のパスワードを入力してください)' %>
           <%= password_field_tag :password_for_validation, class: 'form-control' %>
          </div>
          <div class="text-right">
            <%= f.submit '変更する', class: 'btn btn-success' %>
          </div>
        <% end %>