<h1><%= @course.name %></h1>

  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>勤務場所</th>
        <th>プロフィール更新日</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr style='<%= "background-color: #DCDCDC" if user.updated_at.day != Date.today.day %>'>
          <td><%= link_to user.name, user %></td>
          <td><%= user.location %></td>
          <td><%= user.updated_at %>&nbsp;&nbsp;&nbsp;<%= "※プロフィールが更新されていません" if user.updated_at.day != Date.today.day %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

